/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/* ------------------------------------------------- */
:root {
  /* --swiper-pagination-color: var(--swiper-theme-color);
  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-bullet-width: 8px;
  --swiper-pagination-bullet-height: 8px;
  --swiper-pagination-bullet-inactive-color: #000; */
  --swiper-pagination-bullet-inactive-opacity: 1;
  /* --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 6px; */
}
body {
  font-family: Poppins;
}
.wrapper {
  display: flex;
  min-height: 100vh;
}
.ibg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.panel {
  padding: 50px;
}
.panel__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
}
.panel__icon-box {
}
.panel__icon {
}
.panel__icon span{
  display: block;
  width: 40px;
  height: 0;
  border: 3px solid #4D5062;
}
.panel__social-box {
}
.panel__social {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.panel__social-link {
}

.page {
  flex: 1 1 100%;
  background: linear-gradient(89.83deg, #404356 0.17%, rgba(192, 213, 224, 0) 165.01%);
  border-radius: 20px 0px 0px 20px;
  padding-left: 75px;
  padding-right: 75px;
  /* Якщо слайдер всередині флекс-контейнера */
  min-width: 0;
}
.page__header {
}
.header {
}
.header__container {
  min-height: 170px;
  padding-right: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
}
.header__menu {
}
.menu {
}
.menu__list {
  display: flex;
  gap: 76px;
}
.menu__link {
  font-weight: 500;
  font-size: 20px;
  line-height: 170%;
  color: #FFFFFF;
}
.active-link {
  font-weight: 600;
  color: #424558;
  background: #FFFFFF;
  border-radius: 50px;
  padding: 0 26px;
}
.header__search {
}
.search {
  display: flex;
  align-items: center;
}
.search__icon {
}
.search span {
  width: 24px;
  height: 0px;
  border: 1px solid #FFFFFF;
  transform: rotate(90deg);
  margin: 0 15px;
}
.search__bag-icon {
}
/* ---------------------------------------- */
.my-swiper {
}
.my-swiper__box {
}
.my-swiper__body {
  display: flex;
  justify-content: space-between;
}
.swiper-slide {
}
.my-swiper__text {
  margin-top: 62px;
  display: flex;
  flex-direction: column;
  gap: 54px;
  max-width: 673px;
}
.my-swiper__paragraph {
  font-weight: 400;
  font-size: 64px;
  line-height: 150%;
  color: #FFFFFF;
}
.my-swiper__paragraph span {
  font-weight: 700;
}
.my-swiper__button {
  display: block;
  font-weight: 400;
  font-size: 28px;
  line-height: 70px;
  text-align: center;
  color: #FFFFFF;
  width: 250px;
  min-height: 70px;
  left: 190px;
  border: 3px solid #FFFFFF;
  border-radius: 50px;
}
.my-swiper__watch-box {
  margin-right: 94px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.my-swiper__watch {
  position: relative;
  width: 489px;
  height: 489px;
}
.my-swiper__background {
  width: 309px;
  height: 50px;
  filter: blur(20.5px);
}

.my-swiper__count {
  display: flex;
  gap: 5px;
  align-items: center;
  padding-left: 10px;
}
.swiper-btn-prev, .swiper-btn-next {
  cursor: pointer;
}
.swiper-btn-prev {
  padding-right: 10px;
  transition-duration: 0.3s;
}
.swiper-btn-next {
  padding-left: 10px;
  transition-duration: 0.3s;
}
.swiper-btn-prev span, .swiper-btn-next span{
  border: solid #FFFFFF;
  border-width: 0 3px 3px 0;
  display: block;
  padding: 3px;
}
.swiper-btn-prev span {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.swiper-btn-next span {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.swiper-btn-prev:hover, .swiper-btn-next:hover {
  transform: scale(1.5);
}
.my-swiper__number {
  font-weight: 400;
  font-size: 28px;
  line-height: 150%;
  color: #FFFFFF;
}
.black {
  background: #44475A;
}
.blue {
  background: #ABC6D6;
}
.green {
  background: #3DCCB8;
}
.pink {
  background: #F1C1BB;
}

.my-swiper .swiper-pagination__box {
  position: absolute;
  left: 94%;
  top: 55%;
}
.my-swiper .swiper-pagination {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 31px;
}
.my-swiper .swiper-pagination-bullet {
  position: relative;
  width: 20px;
  height: 20px;
  border: 3px solid #FFFFFF;
}
.my-swiper .swiper-pagination-bullet-active {
  width: 30px;
  height: 30px;
}
.my-swiper .swiper-pagination-bullet[aria-label='Go to slide 1'] {
  background-color: #4E5164;
}
.my-swiper .swiper-pagination-bullet[aria-label='Go to slide 2'] {
  background-color: #AFC9D8;
}
.my-swiper .swiper-pagination-bullet[aria-label='Go to slide 3'] {
  background: #6ADDCC;
}
.my-swiper .swiper-pagination-bullet[aria-label='Go to slide 4'] {
  background: #E3D1D0;
}

