/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/* ------------------------------------------------- */
body {
  font-family: Poppins;
}
.wrapper {
  display: flex;
  min-height: 100vh;
}
.ibg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.panel {
  padding: 50px;
}
.panel__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
}
.panel__icon-box {
}
.panel__icon {
}
.panel__icon span{
  display: block;
  width: 40px;
  height: 0;
  border: 3px solid #4D5062;
}
.panel__social-box {
}
.panel__social {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.panel__social-link {
}

.page {
  flex: 1 1 100%;
  background: linear-gradient(89.83deg, #404356 0.17%, rgba(192, 213, 224, 0) 165.01%);
  border-radius: 20px 0px 0px 20px;
  padding-left: 75px;
}
.page__header {
}
.header {
}
.header__container {
  min-height: 170px;
  padding-right: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
}
.header__menu {
}
.menu {
}
.menu__list {
  display: flex;
  gap: 76px;
}
.menu__link {
  font-weight: 500;
  font-size: 20px;
  line-height: 170%;
  color: #FFFFFF;
}
.active-link {
  font-weight: 600;
  color: #424558;
  background: #FFFFFF;
  border-radius: 50px;
  padding: 0 26px;
}
.header__search {
}
.search {
  display: flex;
  align-items: center;
}
.search__icon {
}
.search span {
  width: 24px;
  height: 0px;
  border: 1px solid #FFFFFF;
  transform: rotate(90deg);
  margin: 0 15px;
}
.search__bag-icon {
}

.page__body {
}
.page__text {
  max-width: 673px;
  margin-top: 92px;
}
.page__paragraph {
  font-weight: 400;
  font-size: 64px;
  line-height: 150%;
  color: #FFFFFF;
}
.page__paragraph:not(:last-child) {
  margin-bottom: 84px;
}
.page__paragraph span{
  font-weight: 700;
}
.page__button {
  display: block;
  text-align: center;
  min-height: 70px;
  max-width: 250px;
  font-weight: 400;
  font-size: 28px;
  line-height: 70px;
  color: #FFFFFF;
  border: 3px solid #FFFFFF;
  border-radius: 50px;
}
.page__button:not(:last-child) {
  margin-bottom: 190px;
}
.page__count {
  font-weight: 400;
  font-size: 28px;
  line-height: 150%;
  color: #FFFFFF;
}
.page__watch-box {
}
.page__watch {
  position: relative;
}
.page__watch-cards {
}
.page__watch-card {
}
.page__watch-image {
  position: relative;
}
.page__watch-background {
}
.page__dots {
}