.header {
  // position: fixed;
  // top: 0;
  // left: 0;
  // width: 100%;
  // z-index: 10;
  background-color: blueviolet;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: toRem(70);
  }
}
