.menu {
  &__icon {
    display: none;

    @media (max-width: $mobileL) {
      z-index: $z3;
      display: block;
      position: relative;
      width: 30px;
      height: 18px;
      cursor: pointer;

      span,
      &::before,
      &::after {
        display: block;
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: #fff;
      }

      &::before,
      &::after {
        content: "";
      }

      &::before {
        top: 0;
      }

      &::after {
        bottom: 0;
      }

      span {
        top: 50%;
        transform: scale(1) translate(0, -50%);
      }

      &._active span {
        transform: scale(0) translate(0, -50%);
      }

      &._active::before {
        top: 46%;
        transform: rotate(-45deg) translate(0, -50%);
      }

      &._active::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0, 50%);
      }
    }
  }

  &__body {
    @media (max-width: $mobileL) {
      position: fixed;
      top: 0;
      left: -100%;
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.9);
      padding: 100px 30px 30px 30px;
      transition: left 0.3s ease 0s;
      overflow: auto;
      &._active {
        left: 0;
      }

      &::before {
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 70px;
        background-color: blueviolet;
        z-index: $z3;
      }
    }
  }

  &__list {
    & > li {
      position: relative;
      margin-left: 20px;
    }

    @media (min-width: $mobileL) {
      display: flex;
      align-items: center;

      & > li {
        padding: 10px 0;
      }
    }

    @media (max-width: $mobileL) {
      & > li {
        flex-wrap: wrap;
        margin-left: 0px;
        &:not(:last-child) {
          margin: 0 0 30px 0;
        }
      }
    }
  }

  &__link {
    font-size: 18px;
    color: #fff;

    @media (max-width: $mobileL) {
      font-size: $font-size;
    }
  }
}
