@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 100%;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*==========================================================*/
body {
  font-family: "Montserrat";
  font-weight: 400;
}

.title-page {
  display: flex;
  background-color: #FAFAFA;
  background-size: 100% auto;
  background-image: url("../Source/img/cover2.png");
  background-repeat: no-repeat;
}
@media (max-width: 479.98px) {
  .title-page {
    background-image: none;
  }
}

.title-content {
  display: flex;
  padding: 0 20px;
  max-width: 1085px;
  margin: 0 auto;
  flex-direction: column;
}
@media (max-width: 991.98px) {
  .title-content {
    width: 90%;
  }
}
@media (max-width: 479.98px) {
  .title-content__header {
    flex-direction: column;
    background-color: #FAFAFA;
    box-shadow: 0 0 190px rgb(13, 92, 99);
  }
  .title-content__menu {
    flex-direction: column;
  }
  .title-content__logo {
    align-self: center;
    margin-bottom: 10px;
  }
}

.title-content__header {
  display: flex;
  max-width: 503px;
  justify-content: space-between;
  padding: 36px 0;
}

.title-content__logo {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.1px;
  text-align: left;
  color: #252B42;
  transition: 0.25s;
}
.title-content__logo:hover {
  font-weight: 800;
}

.title-content__menu {
  display: flex;
  align-items: center;
  min-width: 280px;
  flex: 0 1 auto;
  justify-content: space-between;
}

.title-content__item {
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #737373;
  transition: 0.25s;
  flex-wrap: wrap;
}
.title-content__item:hover {
  font-weight: 800;
}
.title-content__item:last-child {
  flex: none;
}

.title-content__center-form {
  max-width: 390px;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.title-content__title {
  font-size: 58px;
  font-weight: 800;
  line-height: 80px;
  letter-spacing: 0.2px;
  color: #252B42;
  padding-top: 116px;
}
@media (max-width: 479.98px) {
  .title-content__title {
    font-size: 35px;
    text-align: center;
    padding-top: 0;
  }
}

.title-content__text {
  padding: 35px 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #737373;
}
@media (max-width: 479.98px) {
  .title-content__text {
    font-size: 16px;
  }
}

.title-content__button-couple {
  display: flex;
  gap: 10px;
  flex: 1 1 auto;
  flex-wrap: wrap;
}
@media (max-width: 479.98px) {
  .title-content__button-couple {
    flex-direction: column;
  }
}

.title-content__button {
  display: flex;
  flex: 1 0 auto;
  align-items: center;
  justify-content: center;
  border-radius: 37px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.2px;
}
@media (max-width: 479.98px) {
  .title-content__button {
    width: 100%;
  }
}

.title-content__button_left {
  background-color: #FF7B47;
  min-width: 187px;
  height: 48px;
  color: #FFFFFF;
  transition: 0.25s;
}
.title-content__button_left:hover {
  background-color: #6a5e5e;
  box-shadow: 0 0 5px #6a5e5e;
}
.title-content__button_left:active {
  background-color: #3e3b3b;
  color: #FF7B47;
  box-shadow: 0 0px 5px #252B42;
  transition: none;
}

.title-content__button_right {
  border: 1px solid #0D5C63;
  border-radius: 37px;
  min-width: 157px;
  height: 48px;
  color: #0D5C63;
  transition: 0.25s;
}
.title-content__button_right:hover {
  font-weight: 900;
  border: 3px solid #0D5C63;
}
.title-content__button_right:active {
  border: 3px solid #0D5C63;
  transition: none;
  box-shadow: 0 5px 5px #252B42;
}

.title-content__cards {
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
  flex: 1 1 auto;
  max-width: 1085px;
  gap: 30px;
}
@media (max-width: 991.98px) {
  .title-content__cards {
    flex-direction: column;
  }
}

.title-content__cards-item {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  padding: 35px 40px;
  max-width: 328px;
  height: 242px;
  justify-content: space-between;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}
@media (max-width: 991.98px) {
  .title-content__cards-item {
    max-width: 100%;
  }
}

.cards-item__logo {
  max-width: 48px;
  max-height: 48px;
}

.cards-item__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.1px;
  text-align: left;
}

.card-item__text {
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.2px;
  text-align: left;
  color: rgb(115, 115, 115);
}

.title-content__cards-item_green {
  background-color: #0D5C63;
  box-shadow: 0px 13px 19px rgba(203, 17, 17, 0.07);
}
.title-content__cards-item_green h3,
.title-content__cards-item_green p {
  color: rgb(255, 255, 255);
}

.designing-better-experience {
  background-color: #FAFAFA;
  margin-bottom: 10px;
}

.designing-better-experience__content {
  display: flex;
  max-width: 1085px;
  flex: 0 1 auto;
  margin: 0 auto;
  flex-direction: column;
  padding: 80px 20px;
  justify-content: space-between;
}
@media (max-width: 991.98px) {
  .designing-better-experience__content {
    width: 90%;
  }
}

.designing-better-experience__header {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 80px;
  padding-bottom: 50px;
}
@media (max-width: 479.98px) {
  .designing-better-experience__header {
    padding-top: 0;
  }
}

.block-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: rgb(37, 43, 66);
  margin-bottom: 10px;
}
@media (max-width: 479.98px) {
  .block-title {
    font-size: 35px;
    text-align: center;
  }
}

.block-text {
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.2px;
  text-align: center;
  max-width: 511px;
  color: rgb(115, 115, 115);
}
@media (max-width: 479.98px) {
  .block-text {
    font-size: 16px;
    text-align: center;
  }
}

.designing-better-experience__cards {
  max-width: 1045px;
  display: flex;
  flex: 1 1 auto;
  gap: 30px;
}
@media (max-width: 991.98px) {
  .designing-better-experience__cards {
    flex-direction: column;
  }
}

.designing-better-experience__cards-item {
  display: flex;
  flex-direction: column;
  width: 250px;
  flex: 0 1 auto;
  padding: 30px 40px;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
}
@media (max-width: 991.98px) {
  .designing-better-experience__cards-item {
    width: 100%;
  }
}

.designing-better-experience__icon {
  max-width: 48px;
}

.designing-better-experience__value {
  font-size: 40px;
  font-weight: 700;
  line-height: 57px;
  letter-spacing: 0.2px;
}

.designing-better-experience__info {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: rgb(115, 115, 115);
  text-align: center;
}

.practice-advice {
  background-color: #FAFAFA;
}

.practice-advice-content {
  display: flex;
  max-width: 1085px;
  margin: 0 auto;
  flex-direction: column;
  padding: 80px 20px;
  flex: 1 1 auto;
}
@media (max-width: 991.98px) {
  .practice-advice-content {
    width: 90%;
  }
}

.practice-advice-content__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 45px 0;
}

.practice-advice-content__cards {
  display: flex;
  justify-content: space-between;
  flex: 1 0 auto;
}
@media (max-width: 991.98px) {
  .practice-advice-content__cards {
    justify-content: center;
    flex-flow: wrap;
    -moz-column-gap: 15px;
         column-gap: 15px;
  }
}
@media (max-width: 479.98px) {
  .practice-advice-content__cards {
    row-gap: 15px;
    -moz-column-gap: none;
         column-gap: none;
  }
}

.practice-advice-content__cards-item {
  width: 230px;
  min-height: 341px;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  flex: 0 1 auto;
}
@media (max-width: 991.98px) {
  .practice-advice-content__cards-item {
    flex: 0 1 45%;
    margin-bottom: 10px;
  }
}

.practice-advice-content__info {
  padding: 25px;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.practice-advice-content__card-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1px;
  text-align: left;
  color: rgb(37, 43, 66);
  padding-bottom: 15px;
}

.practice-advice-content__card-text {
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.2px;
  text-align: left;
  color: rgb(115, 115, 115);
  height: 80px;
}

.who-we-are {
  padding: 100px 0;
}
@media (max-width: 479.98px) {
  .who-we-are {
    padding-top: 0;
  }
}

.who-we-are-content {
  display: flex;
  padding: 0 20px;
  max-width: 1085px;
  margin: 0 auto;
  flex-direction: column;
}
@media (max-width: 991.98px) {
  .who-we-are-content {
    width: 90%;
  }
}

.who-we-are__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 100px 0;
}
@media (max-width: 479.98px) {
  .who-we-are__header {
    padding-bottom: 30px;
  }
}

.who-we-are__form-video {
  display: flex;
  min-height: 442px;
  justify-content: space-between;
  flex: 1 1 auto;
}
@media (max-width: 991.98px) {
  .who-we-are__form-video {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
}

.who-we-are__video {
  width: 600px;
  height: 420px;
}
@media (max-width: 991.98px) {
  .who-we-are__video {
    width: 100%;
  }
}

.who-we-are__info-block {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  width: 335px;
}
@media (max-width: 991.98px) {
  .who-we-are__info-block {
    width: 100%;
    align-items: center;
  }
}

.who-we-are__top-block {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.who-we-are__text-info {
  text-align: start;
}

.who-we-are__bottom-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 165px;
}
@media (max-width: 991.98px) {
  .who-we-are__bottom-block {
    flex-direction: row;
    height: 100%;
    justify-content: space-between;
    gap: 20px;
  }
}
@media (max-width: 479.98px) {
  .who-we-are__bottom-block {
    flex-direction: column;
  }
}

.who-we-are__card {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media (max-width: 991.98px) {
  .who-we-are__card {
    flex: 1 1 auto;
    gap: 15px;
  }
}

.who-we-are__card-text {
  max-width: 286px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.2x;
  text-align: left;
  color: rgb(115, 115, 115);
}
.who-we-are__card-text p:first-child {
  font-size: 16px;
  font-weight: 700;
  color: rgb(37, 43, 66);
  letter-spacing: 0.1px;
}

.subscribe-block {
  background: linear-gradient(to bottom, #FAFAFA 0%, #FAFAFA 77%, #252B42 77%, #252B42 100%);
  min-height: 339px;
}

.subscribe-content {
  display: flex;
  padding: 0 20px;
  max-width: 1085px;
  margin: 0 auto;
  flex-direction: column;
}

.subscribe-content__icons {
  display: flex;
  justify-content: space-between;
  padding: 50px 0 70px 0;
  flex-wrap: wrap;
}
@media (max-width: 767.98px) {
  .subscribe-content__icons img {
    flex: 1 1 20%;
    max-width: 50px;
  }
}

.subscribe-content__form {
  align-self: center;
  display: flex;
  justify-self: center;
  justify-content: center;
  max-width: 986px;
  flex: 1 1 auto;
  min-height: 124px;
  background-color: #17213C;
  padding: 30px 50px;
  border-radius: 2px;
  justify-content: space-between;
}
@media (max-width: 767.98px) {
  .subscribe-content__form {
    flex-direction: column;
    padding: 30px 20px;
  }
}

.subscribe-content__form-text {
  max-width: 286px;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.1px;
  text-align: left;
  color: #FFFFFF;
}
@media (max-width: 767.98px) {
  .subscribe-content__form-text {
    width: 100%;
    flex: 1 1 auto;
    max-width: 100%;
  }
}

.subscribe-content__input-form {
  display: flex;
  max-width: 450px;
  flex-wrap: wrap;
}
.subscribe-content__input-form input {
  flex: 1 0 auto;
  height: 58px;
  width: 333px;
  border: 1px solid rgb(230, 230, 230);
  border-radius: 2px;
  padding-left: 20px;
}
.subscribe-content__input-form input:focus {
  box-shadow: 0px 0px 10px #FF7B47;
}
.subscribe-content__input-form button {
  flex: 1 0 auto;
  height: 58px;
  width: 117px;
  background-color: #FF7B47;
  color: rgb(255, 255, 255);
  line-height: 28px;
  letter-spacing: 0.2px;
  text-align: center;
  border: 1px solid rgb(230, 230, 230);
  border-radius: 2px;
  transition: 0.25s;
}
.subscribe-content__input-form button:hover {
  background-color: #6a5e5e;
  border: 1px solid #FF7B47;
}
.subscribe-content__input-form button:active {
  background-color: #3e3b3b;
  color: #FF7B47;
  box-shadow: 0 0px 5px #FF7B47;
  transition: none;
}
@media (max-width: 767.98px) {
  .subscribe-content__input-form {
    flex-direction: column;
  }
  .subscribe-content__input-form input, .subscribe-content__input-form button {
    flex: 1 1 auto;
    width: 100%;
  }
}

.get-in-touch {
  background-color: rgb(243, 243, 243);
}

.get-content {
  display: flex;
  max-width: 1085px;
  margin: 0 auto;
  flex-direction: column;
  padding: 80px 20px 148px 20px;
  align-items: center;
}
@media (max-width: 991.98px) {
  .get-content {
    width: 90%;
  }
}

.get-content__header {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  max-width: 470px;
  text-align: center;
  padding-bottom: 80px;
}

.get-content__cards {
  display: flex;
  max-width: 985px;
  justify-content: center;
  align-items: center;
  flex: 0 1 auto;
}
@media (max-width: 991.98px) {
  .get-content__cards {
    flex-direction: column;
    row-gap: 10px;
  }
}

.get-content__item {
  width: 327px;
  height: 333px;
  flex: 1 1 auto;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  padding: 50px 40px;
  align-items: center;
  justify-content: space-between;
  transition: 0.5s;
}
.get-content__item:hover {
  height: 393px;
  background-color: rgb(37, 43, 66);
  color: rgb(255, 255, 255);
  padding: 80px 40px;
}
.get-content__item:hover a {
  box-shadow: 0px 0px 5px #FF7B47;
}
.get-content__item a:active {
  font-weight: 800;
  color: #FF7B47;
  box-shadow: 0px 0px 15px #ff7b50;
  transition: none;
}

.get-content__icon {
  max-width: 72px;
}

.get-content__email {
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-align: center;
}

.get-content__text-support {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1px;
}

.get-content__button {
  width: 160px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(255, 123, 71);
  border-radius: 5px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: rgb(255, 123, 71);
}

/*height: 393px;
  background-color: rgba(37, 43, 66, 1);
  color: rgba(255, 255, 255, 1);
  padding: 80px 40px;

  a {
    color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(255, 255, 255, 1);
  }
  transition: 0.25s;
  &:hover{
    font-weight: 900;
    border: 3px solid #0D5C63;
  }
  &:active{
    border: 3px solid #0D5C63;
    transition: none;
    box-shadow: 0  5px 5px  #252B42;
  }*/
.contact-block {
  background-color: #FFFFFF;
}

.contact-block-content {
  display: flex;
  max-width: 1085px;
  margin: 0 auto;
  padding: 40px 20px;
  justify-content: space-between;
}
@media (max-width: 479.98px) {
  .contact-block-content {
    flex-direction: column;
  }
}

.contact-block__text {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.contact-block__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: rgb(37, 43, 66);
  margin-bottom: 10px;
}

.contact-block__subtitle {
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.2x;
  color: rgb(115, 115, 115);
}

.contact-block__button {
  width: 163px;
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 123, 71);
  border-radius: 5px;
  color: #FFFFFF;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.2px;
  transition: 0.25s;
}
.contact-block__button:hover {
  background-color: #6a5e5e;
}
.contact-block__button:active {
  background-color: #3e3b3b;
  color: #FF7B47;
  box-shadow: 0 0px 5px #252B42;
  transition: none;
}
@media (max-width: 479.98px) {
  .contact-block__button {
    width: 100%;
  }
}

.info-table {
  display: flex;
  background-color: rgb(23, 33, 60);
  padding: 50px 0;
  min-height: 270px;
  background-size: 100% 100%;
}

.table-content {
  display: flex;
  padding: 0 20px;
  max-width: 1085px;
  margin: 0 auto;
  flex: 1 1 auto;
}
@media (max-width: 991.98px) {
  .table-content {
    width: 90%;
  }
}

.table-content__list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-height: 170px;
  flex-wrap: wrap;
}
.table-content__list ul:last-child a img {
  margin-right: 10px;
}
@media (max-width: 991.98px) {
  .table-content__list {
    flex: 0 0 100%;
    justify-content: space-around;
    align-items: center;
  }
}
@media (max-width: 479.98px) {
  .table-content__list {
    flex-direction: column;
  }
}

.table-content__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.table-content__item li:first-child a {
  display: inline-block;
  padding-bottom: 10px;
  font-size: 18px;
}
.table-content__item a {
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-align: left;
  color: rgb(255, 255, 255);
}
.table-content__item a:hover {
  font-weight: 800;
}
@media (max-width: 991.98px) {
  .table-content__item {
    flex: 0 1 auto;
  }
  .table-content__item a {
    display: none;
  }
  .table-content__item li:first-child {
    display: inline-block;
    flex: 0 1 auto;
  }
}

.footer-bottom-content {
  display: flex;
  max-width: 1085px;
  margin: 0 auto;
  padding: 25px 20px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 479.98px) {
  .footer-bottom-content {
    flex-direction: column-reverse;
    align-items: center;
  }
}

.footer-bottom-content__text {
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: rgb(115, 115, 115);
}

.footer-bottom-content__icons {
  display: flex;
  width: 236px;
  justify-content: space-around;
}
.footer-bottom-content__icons a:hover {
  opacity: 0.9;
}