@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body{
  font-family: 'Poppins';
  font-size: 20px;
  font-weight: 600;
  color: #FFF;;
  line-height: 115%;

  background: #292929;
}