@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
body{
    background-color: rgb(178, 178, 90);
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    background-color: #121212;
    margin: 0;
}
.white__theme {
    background-color: #ffffff;
    color: #121212;
}
.dark__theme {
    background-color: #121212;
    color: #ffffff;
}
.dark__theme__buy{
    background-color: #ffffff;
    color: #121212;
    border: 1px solid #ffffff;
}
.wrapper {
    max-width: 1440px;

    padding: 50px;
    margin: 0 auto;
}
.content {
    display: flex;
    flex-direction: column;
    max-width: 1340px;

}
.header {
    display: flex;
    justify-content: space-between;
    align-items: start;

}
.header__gender {
    width: 269px;
    display: flex;
    justify-content: space-between;
}
.header__gender button{
    
    font-size: 20px;
}
.header__title {
    max-width: 288px;
    font-size: 32px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: 0.05em;
    gap: 20px;
}
.span-light{
    color: #BDBDBD80;
    font-family: "Montserrat";
    text-transform: uppercase;
}
.span-bold{
    font-weight: 700;
}
.header__nav {
    width: 158px;
    display: flex;
    justify-content: space-between;
}
.card-block {
    position: relative;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
 
    padding-left: 90px;
    margin-bottom: 75px;

}
.card-block__counter{

    font-size: 250px;
    font-weight: 700;
    color: #3C3C3C;
    position: absolute;
    top: 25%;
    right:  -5%;
    z-index: -1;
}
.card {
    display: flex;
    flex-direction: column;
}
.card__info {
    display: flex;
    align-items: center;
    
}
.card__text-block {
    max-width: 495px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.card__title p:first-child{
    font-size: 30px;
    font-weight: 400;
    color: #BDBDBD;
}
.card__title p:last-child{
    font-size: 60px;
    font-weight: 700;
}

.card__model {
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
}
.card__description {
    line-height: 19.5px;
}
.card__sizes p {
    line-height: 19.5px;
}
.card__price {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
}
.change-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.change-card__button {
    background-color: #121212;

}
.button__prev {
    display: none;
}
.footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.option-block{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.switch-block {
    display: flex;
    align-items: center;
    gap: 20px;
}
.label-span{
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
}
.button-block button {
    min-width: 230px;
    height: 60px;
    background-color: #ffffff;
    border-radius: 17px;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
}
.switch-language__block {
    width: 150px;
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}
.switch-language__button {
    width: 30px;
    height: 24px;
    background : none;
    font-weight: 600;
    font-style: 20px;
    text-decoration: uppercase;
}
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
}

  /* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

  /* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    transition: .4s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 20px;
    left: 0.27em;
    bottom: 0.25em;
    background-color: #121212;
    transition: .4s;
}

input:checked + .slider {
    background-color: #121212;
    border: 1px solid #121212;
}

input:focus + .slider {
    box-shadow: 0 0 1px #121212;
}

input:checked + .slider:before {
    transform: translateX(1.4em);
    background-color: #fff;
} 

@media (max-width : 1215px) {
    .image-sneakers{
    width: 400px;
    }
}
@media (max-width : 1060px) {
    .card__info{
        flex-direction: column;
    }
    .card-block{
        flex-direction: column;
        padding: 0;
    }
    .card__text-block{
        max-width: 100%;
    }
    .image-sneakers{
        width: 100%;
    }
    .wrapper{
        padding: 20px 30px;
    }
    .change-card{
        flex-direction: row;
        height: 110px;
    }
    .img__next{
        transform: rotate(-90deg);
    }
    .img__prev{
        transform: rotate(-90deg);
    }
    .card-block__counter{
        opacity: 0.5;
    }
}
@media (max-width : 880px) {
    .header{
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin-bottom: 10px;
        
    }
    .header__title{
        order: -1;
    }
    
}
@media (max-width : 680px) {
    .switch-language__block{
        display: none;
    }
    .card-block__counter{
        font-size: 100px;
    }
    .option-block{
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
    .button-block  {
        order:-1;
       width: 100%;
    }
    .button-block__button {
        width: 100%;
        
    }
    .img__next, .img__prev, .change-card{
        height: 32px;
    }
    .change-card{
        margin-top: 30px;
    }
}