.header {
  &__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: toRem(150);

    @media (max-width: $mobileL) {
      justify-content: flex-end;
    }
  }

  &__bag {
    position: absolute;
    right: toRem(15);
    
    @media (max-width: $mobileL) {
      right: toRem(100);
    }
  }
}