@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Karla", sans-serif;
  color: #1D1F2E;
  font-size: 12px;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.big-container {
  max-width: 1410px;
  margin: 0 auto;
  padding: 0 15px;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

.subtitle-box {
  text-align: center;
  margin-bottom: 30px;
}

.subtitle {
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.subtitle_lines {
  display: inline-block;
  position: relative;
  padding: 0 45px;
}
.subtitle_lines::before {
  content: "";
  display: inline-block;
  height: 1px;
  width: 30px;
  position: absolute;
  top: 50%;
  left: 0;
  background: rgb(236, 236, 237);
}
.subtitle_lines::after {
  content: "";
  display: inline-block;
  height: 1px;
  width: 30px;
  position: absolute;
  top: 50%;
  right: 0;
  background: rgb(236, 236, 237);
}

.ibg {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.header {
  min-height: 80px;
  padding: 28px 0;
}
.header__container {
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  flex: 0 0 20%;
}
.header__logo img {
  border-radius: 5px;
  transition-duration: 0.4s;
}
.header__logo img:hover {
  background-color: #897e7e;
}
.header__menu {
  padding: 0 15px;
}
.header__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.header li:not(:last-child) {
  margin-right: 30px;
}
.header__link {
  font-size: inherit;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: inherit;
  transition-duration: 0.4s;
}
.header__link:hover {
  color: #db7452;
}
.header__cart {
  display: flex;
  align-items: center;
}
.header__link_cart {
  position: relative;
  padding-left: 26px;
  padding-right: 28px;
  transition-duration: 0.4s;
}
.header__link_cart:hover:before {
  opacity: 0.5;
}
.header__link_cart:hover:after {
  color: #db7452;
}
.header__link_cart:before {
  content: "";
  display: inline-block;
  background: url(../img/header/cart.svg) no-repeat;
  width: 16px;
  height: 20px;
  position: absolute;
  top: -2px;
  left: 0;
  transition-duration: 0.4s;
}
.header__link_cart:after {
  content: "0";
  font-size: 11px;
  line-height: 164%;
  color: #ffffff;
  text-align: center;
  display: inline-block;
  background: #1D1F2E;
  border-radius: 9px;
  width: 20px;
  height: 18px;
  position: absolute;
  top: 0;
  right: 0;
  padding-left: 1.5px;
  transition-duration: 0.4s;
}
@media (max-width: 768px) {
  .header__menu {
    order: 2;
    padding: 0;
  }
  .header__cart {
    flex: 1;
  }
  .header__container {
    gap: 15px;
    flex-wrap: wrap;
  }
}

.main {
  flex: 1 1 auto;
}
.main__background {
  margin-bottom: 100px;
}
.main__stories {
  margin-bottom: 189px;
}
@media (max-width: 950px) {
  .main__background {
    margin-bottom: 60px;
  }
  .main__stories {
    margin-bottom: 80px;
  }
}

.title-block__big-container {
  background: #050827;
}
.title-block__container {
  position: relative;
}
.title-block__body {
  position: relative;
  z-index: 20;
  padding: 159px 0 179px;
  text-align: center;
}
.title-block__header:not(:last-child) {
  margin-bottom: 38px;
}
.title-block__header > *:not(:last-child) {
  margin-bottom: 10px;
}
.title-block__subtitle {
  color: #FFFFFF;
}
.title-block__title {
  font-size: 47px;
  line-height: 128%;
  color: #FFFFFF;
}
.title-block__desc {
  font-size: 17px;
  line-height: 176%;
  color: #FFFFFF;
}
.title-block__button {
  font-size: inherit;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: inherit;
  display: inline-flex;
  min-height: 33px;
  align-items: center;
  justify-content: center;
  padding: 0 24px;
  background: #FFFFFF;
  box-shadow: 0px 2px 6px rgba(29, 31, 46, 0.1);
  transition-duration: 0.5s;
}
.title-block__button:not(:last-child) {
  margin-bottom: 10px;
}
.title-block__button:hover {
  background: #050827;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
}
@media (max-width: 767px) {
  .title-block__body {
    padding: 100px 0 129px;
  }
}
@media (max-width: 320px) {
  .title-block__body {
    padding: 70px 0 99px;
  }
}

.text-block__container {
  padding: 123px 15px 98px;
  max-width: 678px;
  text-align: center;
}
.text-block__container > *:not(:last-child) {
  margin-bottom: 18px;
}
.text-block__title {
  font-size: 28px;
  line-height: 143%;
}
.text-block__desc {
  font-size: 16px;
  line-height: 175%;
  color: rgba(29, 31, 46, 0.7);
}
.text-block__link {
  font-size: 15px;
  line-height: 187%;
  color: #A25F4B;
  position: relative;
}
.text-block__link::after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  bottom: -7px;
  left: 50%;
  background: rgba(162, 95, 75, 0.2);
  transition-duration: 0.4s;
}
.text-block__link:hover::after {
  content: "";
  width: 100%;
  left: 0;
}
@media (max-width: 768px) {
  .text-block__container {
    padding: 73px 15px 48px;
  }
}
@media (max-width: 320px) {
  .text-block__container {
    padding: 40px 15px 48px;
  }
}

.featured-mugs__container {
  padding-bottom: 80px;
}
.featured-mugs__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.featured-mugs__item {
  max-width: 460px;
  min-width: 300px;
}
.featured-mugs__image {
  padding-bottom: 117.5%;
}
@media (min-width: 950px) {
  .featured-mugs__box {
    display: flex;
    flex-direction: row;
    gap: 2%;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .featured-mugs__item {
    flex: 0 1 48%;
    min-width: 460px;
  }
  .featured-mugs__container {
    padding-bottom: 119px;
  }
}

.item {
  display: flex;
  flex-direction: column;
}
.item > *:not(:last-child) {
  margin-bottom: 35px;
}
.item__image {
  position: relative;
}
.item__image img {
  transition-duration: 0.4s;
}
.item__image img:hover {
  opacity: 0.85;
}
.item__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 0 15px 15px;
  text-align: center;
}
.item__name {
  font-size: 20px;
  line-height: 150%;
  color: inherit;
  transition-duration: 0.4s;
}
.item__name:hover {
  color: #db7452;
}
.item__price-block {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
.item__price {
  font-size: 16px;
  line-height: 175%;
  color: rgba(29, 31, 46, 0.7);
}
.item__price_new {
  font-size: 19px;
  line-height: 168%;
  color: #A25F4B;
}
.item__price_old {
  text-decoration: line-through;
}
@media (max-width: 950px) {
  .item > *:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media (min-width: 950px) {
  .subtitle-box {
    margin-bottom: 100px;
  }
}
.more-products__container {
  max-width: 970px;
  padding: 0 15px 80px;
}
.more-products__box {
  display: grid;
  grid-template: 1fr/repeat(2, minmax(300px, 300px));
  grid-auto-flow: row;
  gap: 17px;
  justify-content: center;
}
.more-products__image {
  padding-bottom: 127%;
}
@media (max-width: 767px) {
  .more-products__box {
    display: grid;
    grid-template: 1fr/minmax(250px, 250px);
    gap: 17px;
    justify-content: center;
  }
}
@media (min-width: 950px) {
  .more-products__container {
    padding-bottom: 165px;
  }
  .more-products__box {
    display: grid;
    grid-template: 1fr/repeat(3, minmax(300px, 1fr));
    grid-auto-flow: row;
    gap: 17px;
  }
}

.offer__container {
  padding-bottom: 130px;
}
.offer__body {
  display: flex;
  gap: 80px;
}
.offer__images {
  flex: 0 0 50%;
  display: grid;
  grid-template-columns: 280px 160px;
  grid-template-areas: "big small-1" "big small-2";
  gap: 20px;
}
.offer__image {
  position: relative;
  padding-bottom: 70%;
}
.offer__image_big {
  grid-area: big;
}
.offer__image_small-1 {
  grid-area: small-1;
}
.offer__image_small-2 {
  grid-area: small-2;
}
.offer__text {
  flex: 0 0 50%;
  max-width: 300px;
}
.offer__text > *:not(:last-child) {
  margin-bottom: 15px;
}
.offer__title {
  font-size: 36px;
  line-height: 139%;
}
.offer__desc {
  font-size: 16px;
  line-height: 175%;
  color: rgba(29, 31, 46, 0.7);
}
.offer__button {
  font-size: inherit;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 35px;
  padding: 0 24px;
  background: #1D1F2E;
  transition-duration: 0.4s;
}
.offer__button:hover {
  background: #FFFFFF;
  color: #1D1F2E;
  border: 1px solid #1D1F2E;
}
@media (max-width: 950px) {
  .offer__container {
    padding-bottom: 80px;
  }
  .offer__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  .offer__text {
    max-width: 950px;
    text-align: center;
    padding: 0 15px;
  }
  .offer__text > *:not(:last-child) {
    margin-bottom: 10px;
  }
  .offer__title {
    font-size: 26px;
  }
}
@media (max-width: 500px) {
  .offer__images {
    justify-content: center;
    grid-template-columns: 160px 100px;
    gap: 10px;
  }
}

.background {
  position: relative;
  min-height: 340px;
}

.stories__container {
  max-width: 970px;
}
.stories__body {
  padding: 0 15px;
  display: flex;
  gap: 2%;
  flex-wrap: wrap;
  justify-content: center;
}
.stories__column {
  flex: 0 1 31.111%;
  min-width: 300px;
  margin-bottom: 15px;
}
.stories__image {
  position: relative;
  min-height: 300px;
}
.stories__text {
  padding-top: 29px;
}
.stories__title {
  font-size: 20px;
  line-height: 160%;
  margin-bottom: 10px;
}
.stories__desc {
  font-size: 16px;
  line-height: 175%;
  color: rgba(29, 31, 46, 0.7);
  margin-bottom: 16px;
}
.stories__date {
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .stories__text {
    padding-top: 15px;
  }
  .stories__title {
    font-size: 16px;
    margin-bottom: 7px;
  }
  .stories__desc {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .stories__date {
    font-size: 10px;
  }
}

.sign-up__big-container {
  background: #1D1F2E;
  padding: 80px 15px 85px;
  text-align: center;
}
.sign-up__subtitle-box {
  margin-bottom: 15px;
}
.sign-up__subtitle {
  color: #FFFFFF;
  margin: 0 -15px;
}
.sign-up__subtitle::before {
  background: rgba(210, 210, 213, 0.1);
}
.sign-up__subtitle::after {
  background: rgba(210, 210, 213, 0.1);
}
.sign-up__title {
  font-size: 36px;
  line-height: 139%;
  color: #FFFFFF;
  margin-bottom: 25px;
}
.sign-up__form {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.sign-up__email {
  font-size: inherit;
  line-height: 150%;
  color: #FFFFFF;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: 1px solid #2F303E;
  background: none;
  min-height: 54px;
  min-width: 350px;
  padding-left: 18px;
  transition-duration: 0.4s;
}
.sign-up__email:focus {
  border: 1px solid #FFFFFF;
}
.sign-up__button {
  font-size: inherit;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #000000;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 54px;
  padding: 0 25px;
  background: #FFFFFF;
  box-shadow: 0px 2px 6px rgba(29, 31, 46, 0.1);
  transition-duration: 0.4s;
}
.sign-up__button:focus {
  background: #000000;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
}
.sign-up__button:hover {
  background: #000000;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
}
@media (max-width: 950px) {
  .sign-up__big-container {
    padding: 50px 15px 55px;
  }
  .sign-up__title {
    font-size: 28px;
    margin-bottom: 20px;
  }
}
@media (max-width: 600px) {
  .sign-up__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
  .sign-up__email {
    min-width: 280px;
  }
  .sign-up__button {
    min-width: 280px;
  }
}

.footer__container {
  padding: 107px 15px 62px;
  max-width: 970px;
}
.footer__body {
  display: flex;
  gap: 70px;
}
.footer__column {
  display: flex;
  flex-direction: column;
}
.footer__column_logo {
  flex: 0 1 30%;
}
.footer__logo {
  margin-bottom: 22px;
}
.footer__desc {
  flex: 1;
  font-size: 14px;
  line-height: 157%;
  color: rgba(29, 31, 46, 0.7);
}
.footer__bottom {
  font-size: 14px;
  line-height: 157%;
  color: rgba(29, 31, 46, 0.3);
}
.footer__title {
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 23px;
}
.footer__list {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer__link {
  font-size: 13px;
  line-height: 169%;
  color: rgba(29, 31, 46, 0.7);
  transition-duration: 0.4s;
}
.footer__link:hover {
  color: rgb(29, 31, 46);
}
.footer__link_email {
  font-size: 23px;
  line-height: 157%;
  color: inherit;
  transition-duration: 0.4s;
}
.footer__link_email:hover {
  color: #db7452;
}
@media (max-width: 950px) {
  .footer__container {
    padding: 70px 15px 30px;
  }
  .footer__body {
    display: flex;
    gap: 25px;
  }
}
@media (max-width: 650px) {
  .footer__body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2%;
  }
  .footer__column {
    flex: 0 1 48%;
    text-align: center;
    margin-bottom: 20px;
  }
  .footer__column_logo {
    flex: 0 1 100%;
  }
  .footer__column_contact {
    flex: 1;
  }
  .footer__list {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 7px;
    align-items: center;
  }
  .footer__title {
    margin-bottom: 10px;
  }
}