@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
/* Обнуление */
*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*::before,*::after{

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}

/*================*/
body {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    justify-content: center;
    background-color: #202020;
    font-family: "Inter";
    color:#9E9E9E;
    font-weight: 500;
    letter-spacing: 0.5%;
}
input{
    flex: 1 1 auto;
    max-width: 500px;
    height: 110px;
    border: 2px solid #C2C2C2;
    background-color: #202020;
    border-radius: 12px;
    padding: 0 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110px;
    letter-spacing: 0.5%;
    font-family: "Inter";
    color: #9E9E9E;
} 
input:focus {
    outline: none;
    border: 2px solid #524FE0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
select{
    height: 110px ;
    max-width: 182px;
    letter-spacing: inherit;
    word-spacing: inherit;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    margin-left: 15px;
    background-color: #202020;
    color: #9E9E9E;
    border: #C2C2C2 solid 1px;
    border: none;
    font-size: 32px;
    background-image: url('./images/ic_Down_16px.svg');
    background-repeat: no-repeat;
    background-position: left 100% top 50%;
    outline: none;
}  
.content{
    display: flex;
    flex-direction: column;
    max-width: 684px;
    max-height: 437px;
    align-items: center;
    justify-content: center; 
}
.article {
    flex:1 1  auto; 
    font-size: 80px;
    letter-spacing: 20px;
}
.container {
    display: flex;
    flex-direction: column;
    gap: 20px;   
}
.container-input, .container-output {
    display: flex;
    align-items: center;  
}
@media (max-width: 620px) {
    .article{
        font-size: 60px;
        margin-bottom: 10px;
    }
    .container{
        gap: 10px;
        max-width:500px ;
    }
    .container-input, .container-output {
        flex-direction: column;
    }
    input {
        max-width: 100%;
    }
    select {
        min-width: 480px;
        background-position: left 97% top 50%;
    }
}
@media (max-width: 525px) {
    .article{
        font-size: 25px;
        margin-bottom: 10px;
    }
    .container{
        gap: 10px;
        max-width:300px ;
    }
    .container-input, .container-output {
        flex-direction: column;
    }
    input {
        max-height:80px ;
        max-width: 100%;
        line-height: 80px;
    }
    select {
        max-height:80px ;
        min-width: 300px;
        background-position: left 95% top 50%;
    }
    input::placeholder {
        font-size: 25px;
    }
}
    

