.js-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 50%;
    transition-duration: 0.5s;
}
.js-icon:hover{
    background-color: blueviolet;
}
.js-block{
    display: inline-block;
}
.js-block._active .js-input{
    display: inline-block;
}