html {
  scroll-behavior: smooth;
}

body {
  background-color: $page-bg;
  color: $color-main;
  font-family: $font-main;
}

.form {
  border-radius: 50px;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
}

.input {
  font-size: toRem(20);
  color: $color-main;
}

.btn {
  border-radius: 50%;
  background: linear-gradient(90deg, #2af598 0%, #009efd 100%);
  padding: 10px;
}

.subtitle-block {
  display: flex;
  flex-direction: column;
  gap: toRem(27);

  h2 {
    color: #081323;
    font-size: toRem(64);
    font-weight: 500;
    line-height: normal;
  }

  p {
    color: #4f4f4f;
    font-size: $font-size;
    line-height: normal;
  }
}
