// Підключення шрифтів
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");
//-----------------------------
:root {
  // Шрифт
  --font-main: 'Work Sans', sans-serif;
  //---------------------------
  // Кольори
  --page-bg: #fff;
  --text-color: #FFF;
  --accent: #081323;
  //---------------------------
}
//-----------------------------
// Обмежеючий контейнер
$container-width: 1520;
$container-padding: 15;
//-----------------------------
// Брек-поїнти
$laptop: toEm(1199); 
$tablet: toEm(991.98); 
$mobileL: toEm(767.98); 
$mobileS: toEm(479.98); 
$mobileXS: toEm(320); 
//-----------------------------
// Розмір шрифт за замовчуванням
$font-size: toRem(24); // де 14(px) - розмір шрифту за замовчуванням з макету
//-----------------------------
// Z-індекси
$z1: -1;
$z2: 1;
$z3: 5;
$z4: 10;
$z5: 20;
//-----------------------------