.header{
  display: flex;
  justify-content: end;
  padding: 10px 10px 5px;
  position: relative;
}

.header >span {
  font-size: 15px;
  background-color: #28b8db;
  border-radius: 1px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 1px;
  position: absolute;
  top: 25px;
  right: 25px;
}