@media(max-width: 1199px){
  .start{
    position: relative;
    
    margin-bottom: 102px;

    .container{
      justify-content: center;
    }
  }

  .start__content{
    position: relative;
    z-index: 10;

    text-align: center;

    padding-top: 72px;
  }

  .start__image{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.7;

    img{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
    }

    &::before, &::after{
      display: none;
    }
  }

  .start__text{
    margin: 0 auto;
  }

  .start__search{
    margin-right: 0;
  }

  
}

@media(max-width: 1024px){
  .header__inner{
    gap: 70px;
  }

  .header__inner-body{
    gap: 50px;
  }
}

@media(max-width: 800px){
  .start__search{
    flex-direction: column;
  }

  .start__search-body{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .start__search-body > .start__search-info{
    &::after{
      display: none;
    }
  }

  .start__search-body > .start__search-info{
    &::before{
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      bottom: -5px;
      left: 0;
      border: 1px solid #8E8E8E;
    }
  }

  .start__search-info{
    justify-content: space-between;
  }

  .start__search-icon{
    width: 100%;
  }
}

@media(max-width: 769px){
  .header__icon{
    display: block;
    z-index: 20;
    position: relative;
    cursor: pointer;
    width: 44px;
    height: 33px;
  }

  .header__icon span,
  .header__icon::before,
  .header__icon::after{
    display: block;
    left: 0;
    position: absolute;
    height: 17%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: rgba(28, 28, 28, 1);
    border-radius: 20px;
  }

  .header__icon::before,
  .header__icon::after{
    content: '';

  }

  .header__icon::before{
    top: 0;
  }

  .header__icon::after{
    bottom: 0;
  }

  .header__icon span{
    top: 50%;
    transform: scale(1) translate(0, -50%);
  }

  .header__icon._active span{
    transform: scale(0) translate(0, -50%);
  }
  .header__icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -90%);
  }
  .header__icon._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
  }

  .header__inner-body {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    padding: 100px 30px 30px 30px;
    transition: left 0.3s ease 0s;
    overflow: auto;
    z-index: 19;

    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .header__inner-body._active{
    left: 0;
  }

  .menu__list{
    flex-direction: column;
    gap: 60px;
  }

  .menu__link{
    font-size: 17px;
  }

  .header__sign-in{
    font-size: 17px;
  }

  .header__sign-up{
    font-size: 17px;
  }
}

@media(max-width: 767px){
  .start{
    padding-bottom: 52px;
  }

  .start__content{
    padding-top: 30px;
  }

  .start__title{
    font-size: 42px;

    span{
      font-size: 70px;
    }
  }
}