@media(max-width: 1330px){
  .about-us__image{
    &::before, &::after{
      display: none;
    }
  }
}

@media(max-width: 1200px){
  .start{
    position: relative;
    
    margin-bottom: 102px;

    .container{
      justify-content: center;
    }
  }

  .start__content{
    position: relative;
    z-index: 10;

    text-align: center;

    padding-top: 72px;
  }

  .start__image{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.7;

    img{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
    }

    &::before, &::after{
      display: none;
    }
  }

  .start__text{
    margin: 0 auto;
  }

  .start__search{
    margin-right: 0;
  }
}

@media(max-width: 992px){
  .header__inner{
    gap: 70px;
  }

  .header__inner-body{
    gap: 50px;
  }

  .services{
    padding-bottom: 122px;
  }

  .services__items{
    grid-template-columns: repeat(2, 1fr);
  }

  .about-us{
    margin-bottom: 62px;

    .container{
      padding-bottom: 20px;

      justify-content: center;
      text-align: center;
    }
  }

  .about-us__image{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;

    img{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }

  .about-us__button{
    margin: 0 auto;
  }

  .property__items{
    grid-template-columns: repeat(2, 1fr);
  }

  .property__item-image{
    padding-bottom: 50%;

    img{
      object-fit: cover;
    }
  }
}

@media(max-width: 768px){
  .title-block{
    gap: 1px;
  }

  .title{
    font-size: 46px;
  }

  .header__icon{
    display: block;
    z-index: 20;
    position: relative;
    cursor: pointer;
    width: 44px;
    height: 33px;
  }

  .header__icon span,
  .header__icon::before,
  .header__icon::after{
    display: block;
    left: 0;
    position: absolute;
    height: 17%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: rgba(28, 28, 28, 1);
    border-radius: 20px;
  }

  .header__icon::before,
  .header__icon::after{
    content: '';

  }

  .header__icon::before{
    top: 0;
  }

  .header__icon::after{
    bottom: 0;
  }

  .header__icon span{
    top: 50%;
    transform: scale(1) translate(0, -50%);
  }

  .header__icon._active span{
    transform: scale(0) translate(0, -50%);
  }
  .header__icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -90%);
  }
  .header__icon._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
  }

  .header__inner-body {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    padding: 100px 30px 30px 30px;
    transition: left 0.3s ease 0s;
    overflow: auto;
    z-index: 19;

    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .header__inner-body._active{
    left: 0;
  }

  .menu__list{
    flex-direction: column;
    gap: 60px;
  }

  .menu__link{
    font-size: 17px;
  }

  .header__sign-in{
    font-size: 17px;
  }

  .header__sign-up{
    font-size: 17px;
  }

  .start__search{
    flex-direction: column;
  }

  .start__search-body{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .start__search-body > .start__search-info{
    &::after{
      display: none;
    }
  }

  .start__search-body > .start__search-info{
    &::before{
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      bottom: -5px;
      left: 0;
      border: 1px solid #8E8E8E;
    }
  }

  .start__search-info{
    justify-content: space-between;
  }

  .start__search-icon{
    width: 100%;
  }

  .start{
    padding-bottom: 52px;

    margin-bottom: 52px;
  }

  .start__content{
    padding-top: 30px;
  }

  .start__title{
    font-size: 42px;

    span{
      font-size: 70px;
    }
  }

  .services{
    padding-bottom: 72px;
  }

  .services__item{
    padding-top: 36px;
  }

  .services__item-title{
    padding-top: 24px;
  }

  .services__item-link{
    font-size: 26px;
  }

  .about-us{
    margin-bottom: 52px;
  }

  .property{
    padding-bottom: 52px;
  }

  .how__table-item {
    padding: 32px 0;

    &:first-child{
      padding-right: 40px;
    }

    &:last-child{
      padding-left: 40px;
    }
  }
}

@media(max-width: 767px){
  .services__items{
    grid-template-columns: repeat(1, 1fr);
  }

  .property__items{
    grid-template-columns: repeat(1, 1fr);
  }

  .property__item-image{
    padding-bottom: 45%;
  }
}

@media(max-width: 480px){
  .title-block{
    padding-bottom: 20px;
  }

  .about-us__content{
    gap: 5px;
  }

  .how__table-item {
    padding: 20px 0;

    &:first-child{
      padding-right: 15px;
    }

    &:last-child{
      padding-left: 15px;
    }
  }

  .how__table-title {
    font-size: 20px;
  }

	.how__table-description {
    font-size: 14px;
    line-height: 121%;
  }
}