@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 100%;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*==========================================================*/
body {
  background-color: #161616;
  font-family: "Roboto";
}

.left_block {
  position: absolute;
  top: 397px;
  left: 284px;
  width: 613px;
  display: inline-block;
}
.left_block img {
  margin-right: 32px;
}
.left_block .text {
  width: 423px;
  height: 152px;
  display: inline-block;
}
.left_block .text p {
  color: wheat;
}
.left_block .text p:nth-child(1) {
  line-height: 48px;
  font-weight: 700;
  margin-bottom: 16px;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 14px;
  color: rgb(255, 117, 140);
}
.left_block .text p:nth-child(2) {
  margin-bottom: 16px;
  font-size: 32px;
  line-height: 40px;
}
.left_block .text p:nth-child(3) {
  font-size: 24px;
  line-height: 32px;
}

.right_block {
  position: relative;
  top: 10px;
  left: 900px;
  display: inline-block;
  padding: 32px;
  width: 510px;
  height: 522px;
  color: rgb(184, 184, 184);
  border: 32px solid rgb(255, 117, 140);
  margin-top: 217px;
  margin-left: 50px;
}
.right_block .features {
  margin-bottom: 32px;
}
.right_block .sections {
  width: 334px;
  display: inline-block;
}
.right_block .sections section {
  margin-bottom: 32px;
}
.right_block .sections section:nth-child(1) h3 {
  color: #00F5F5;
}
.right_block .sections section:nth-child(2) h3 {
  color: #66A3FF;
}
.right_block .sections section:nth-child(3) h3 {
  color: #AD93FB;
}
.right_block .sections section:nth-child(4) h3 {
  color: #FF6BF8;
}
.right_block .sections h3 {
  font-size: 24px;
  line-height: 32px;
}
.right_block .sections p {
  font-size: 16px;
  line-height: 24px;
}

.icons {
  position: relative;
  bottom: 36px;
  width: 32px;
  height: 308px;
  display: inline-block;
  margin-bottom: 70px;
  margin-right: 10px;
}
.icons img {
  margin-bottom: 62px;
}
.icons img:last-child {
  margin-bottom: 0;
}

.features {
  text-transform: uppercase;
  font-weight: 700;
}