.main {
	&__user-page { }
}
.user-page {
	&__container {
  }
	&__title {
    font-size: 50px;
    padding-top: 30px;
    padding-bottom: 50px;
    text-align: center;
  }
	&__head {
    display: flex;
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
  }
	&__avatar {
    width: 200px;
    height: 200px;
    background-color: gray;
    border: 3px solid white;
    border-radius: 10px;
  }
	&__username{
    opacity: 1;
    font-size: 30px;
    padding-top: 20px;

    span {
      display: inline-block;
      opacity: 0.5;
      padding-right: 20px;
      padding-bottom: 10px;
    }
  }
  &__logout-block{
    padding-top: 50px;
  }
}