.main {
	&__product { }
}
.product {
	&__title {
    font-size: 50px;
    line-height: 120%;
    text-align: center;
    padding-bottom: 30px;
  }
	&__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 80px;
    row-gap: 30px;

    padding-bottom: 20px;
  }
	&__item {
    background-color: gray;
    padding: 20px 10px;
    border-radius: 10px;
    border: 3px solid gray;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
	&__image {
    position: relative;
    padding-bottom: 50%;

    img{
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
	&__item-body {
    background-color: #292929;
    border-radius: 10px;
    padding: 40px 20px;
  }
	&__description-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
	&__description {
    display: flex;
    gap: 10px;
    justify-content: space-between;
  }
	&__name {
    opacity: 0.5;
  }
	&__name-value {
    align-self: flex-end;
    text-align: right;
  }
	&__subtitle {
    font-size: 20px;
  }
  &__button-box{
    position: relative;
    transition: 1s all;
  }
  &__button{
    display: block;
    height: 54px;
    min-width: 267px;
    text-align: center;
    color: #292929;
    font-size: 20px;
    border-radius: 3px;
    background: #D9D9D9;
    border: 2px solid #D9D9D9;
    line-height: 54px;
    z-index: 5;
  }
  &__button-loading{
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 45px;
    height: 45px;
    border: 10px solid #292929;
    border-top-color: #fff;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation: 1s btnLoading infinite linear;
    z-index: 10;
  }
}

@keyframes btnLoading{
  from{
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to{
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.product__button-box{
  &.loading{
    .product__button{
      opacity: 0.3;
      pointer-events: none;
    }
    .product__button-loading{
      display: block;
    }
  }
}

body._pc .product__button{
  transition-duration: 0.3s;
  &:hover{
    color: #D9D9D9;
    background: #292929;
    border: 2px solid #D9D9D9;
  }
}

body._pc .product__item{
  transition: 0.3s all;

  &:hover{
    background-color: #292929;

    .product__item-body {
      transition: 0.3s all;
      background-color: gray;
    }

    .product__name-value{
      transition: 0.3s all;
      color: #292929;
    }

    .product__name {
      transition: 0.3s all;
      opacity: 1;
    }
  }
}

@media(max-width: 992px){
  .product__container{
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
    row-gap: 30px;
  }
}

@media(max-width: 767px){
  .product__container{
    grid-template-columns: repeat(1, 1fr);
  }

  .product__item{
    min-width: 480px;
    margin: 0 auto;
  }

  .product__name, .product__name-value, .product__subtitle{
    font-size: 24px;
  }
}

@media(max-width: 550px){
  .product__item{
    min-width: 200px;
  }
}