@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
/* Обнуление */
*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*::before,*::after{

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}

/*================*/
body {
    padding: 10px 20px;
    display: flex;
    align-items: start;
    flex: 1 1 auto;
    justify-content: center;
    background-color: #202020;
    font-family: "Inter";
    color:#9E9E9E;
    font-weight: 500;
    letter-spacing: 0.5%;
    color: #9E9E9E;
}
.wrapper {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    background-color: #202020;
}
.option-block {
    display: flex;
    
    flex-direction: column;
    
    justify-content: center;

}
.search-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap : 10px;
    margin-bottom: 10px;
}
.search-block__input {
}
.search-block__title {
}
.search-block__select {
}
.search-block__button {
}
.sort-block {
    display: flex;
    gap: 10px;
    justify-content: start;
    margin-bottom: 10px;
    align-items: center;

}
.sort-block__sort-title {
}
.sort-block__sort-select {
}
.result-block {

}
.result-block__title {
}
.result-block__table {
    display: flex;
    max-height: 500px;
    justify-content: space-between;
    table-layout: inherit;
    overflow: auto;
}
.result-block__table::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: 202020;
}
.result-block__table::-webkit-scrollbar-thumb {
    
    background-color: #9E9E9E;
}

table{
    width: 100%;
    display: table;
    border-collapse: separate;
    border-radius: 5px;
    
}
.btn{
    width: 100%;
}
td{
    border-bottom: 1px solid #9E9E9E;
}
input{
    color: #9E9E9E;
    width: 210px;
    height: 40px;
    border: 1px solid #E0E0E0;
    border-radius: 12px;
    background-color: #202020;
}
input:focus {
    outline: none;
    border: 2px solid #524FE0;
}
select{
    color: #9E9E9E;
    height: 40px;
    background-color: #202020;
}
button{
    color: #9E9E9E;
    width: 60px;
    height: 40px;
    background-color: #202020;
    border: #9E9E9E solid 1px;
    border-radius: 12px;
}
button:hover{
    background-color: #524FE0;
    border: #4c4acd solid 1px;
    color: #000000;
    box-shadow: 0 0 3px #4c4acd;
}
button:active{
    background-color: #78788f;
    border: #524FE0 solid 1px;
}
tr:not(:first-child):hover{
    background-color: #524FE0;
    color: #000000;
}

th{
    position: sticky;
    top: 0px;
}