@media(max-width: 992px){
  .menu__icon{
    display: block;
    z-index: 20;
    position: relative;
    cursor: pointer;
    width: 44px;
    height: 33px;
  }

  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after{
    display: block;
    left: 0;
    position: absolute;
    height: 5px;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #D9D9D9;
    border-radius: 20px;
  }

  .menu__icon::before,
  .menu__icon::after{
    content: '';

  }

  .menu__icon::before{
    top: 0;
  }

  .menu__icon::after{
    bottom: 0;
  }

  .menu__icon span{
    top: 50%;
    transform: scale(1) translate(0, -50%);
  }

  .menu__icon._active span{
    transform: scale(0) translate(0, -50%);
  }
  .menu__icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -96%);
  }
  .menu__icon._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 70%);
  }

  .menu__body {
    position: fixed;
    top: -100%;
    height: 100%;
    width: 100%;
    background-color: #292929;
    padding: 150px 10px 30px 30px;
    transition: top 0.3s ease 0s;
    overflow: auto;
    z-index: 19;

    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .menu__body._active{
    top: 0;
  }

  .menu__list{
    flex-direction: column;
    gap: 50px;
  }

  .menu__list-link{
    font-size: 25px;
  }

  body._lock {
    overflow: hidden;
  }

  .menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    &__list-item {
      &:nth-child(2){
        padding-right: 0;
      }
      &:nth-child(3){
        padding-left: 0;
      }
    }
  }

  .myswiper__name{
    font-size: 180px;
  }

  .myswiper-pagination{
    width: 100%;
    max-width: none;
    justify-content: center;
  }

  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 80px;
    left: 0;
    right: auto;
  }

  .myswiper__name{
    margin-bottom: -110px;
  }

  .main__container{
    margin-top: -30px;
  }

  .myswiper__button-prev,  .myswiper__button-next{
    top: 50%;
    transform: translate(0, -50%);
  }

  .product__container{
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
    row-gap: 30px;
  }
}

@media(max-width: 767px){
  .myswiper__name{
    font-size: 140px;
    margin-bottom: -70px;
  }

  .myswiper__button-prev,  .myswiper__button-next{
    top: 40%;
    transform: translate(0, -40%);
  }

  .info__body{
    justify-content: center;
    gap: 20px;
  }

  .info__characteristic-block{
    justify-content: center;
    flex: 1 1 100%;
  }

  .info__button{
    margin-left: 0;
  }

  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 160px;
  }

  .product__container{
    grid-template-columns: repeat(1, 1fr);
  }

  .product__item{
    min-width: 480px;
    margin: 0 auto;
  }

  .product__name, .product__name-value, .product__subtitle{
    font-size: 24px;
  }
}

@media(max-width: 550px){
  .product__item{
    min-width: 200px;
  }
}

@media(max-width: 660px){
  .myswiper__name{
    font-size: 80px;
    margin-bottom: -20px;
  }
}

@media(max-width: 425px){
  .info__characteristic-block {
    gap: 15px;
  }

  .info__links{
    flex-wrap: wrap;
    justify-content: center;
  }

  .info__button{
    flex: 1 1 100%;
    min-width: 150px;
  }

  .myswiper__name{
    margin-bottom: -20px;
    font-size: 70px;
    padding-top: 20px;
  }

  .myswiper__button-prev,  .myswiper__button-next{
    top: 25%;
    transform: translate(0, -25%);
  }

  .header__logo{
    left: 0;
    transform: translate(0, 0);
  }

  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 220px;
  }
}