.trafficLight {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    border-radius: 50%;
    margin-bottom: 30px;
    border: 2px solid black;
}
.buttonSwitchColor {
    margin: 0 auto;
    width: 90px;
    display: block;
}
.trafficLight_red{
    background-color: red;
}
.trafficLight_yellowBeforeGreen , .trafficLight_yellowBeforeRed{
    background-color: yellow;
}
.trafficLight_green{
    background-color: green;
}
